@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-ExtraBold.otf");
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-Bold.otf");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-SemiBoldOblique.otf");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-Light.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Causten;
  src: url("/assets/fonts/Causten-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
