/* Moz kit */

* {
  scrollbar-width: thin;
  scrollbar-color: none none;
}

/* Web kits */

*::-webkit-scrollbar {
  width: 15px;
  background-color: #f2f2f2;
  transition: all 0.4s;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 3px solid #f2f2f2;
  border-radius: 12px;
  transition: all 0.4s;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
  transition: all 0.4s;
}
