.contact__container {
  position: fixed;
  bottom: 5%;
  right: 5px;
}

.contact__container div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgb(179, 179, 179);
}

.contact__container div i {
  color: #fff;
  font-size: 1.5rem;
}

.contact__container div.purple {
  background: var(--primary);
}

.contact__container div.green {
  background: #25d366;
}
