<div class="contact__container">
  <div class="green">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
  </div>
  <div class="purple">
    <i class="fa fa-comment" aria-hidden="true"></i>
  </div>
</div>
