.suggestions__container {
  position: fixed;
  bottom: 50%;
  transform: translateY(-50%);
  right: -50px;
  padding: 0.5rem;
  background-color: #cf152d;
  border-radius: 4px;
  transform: rotate(270deg);
  color: #fff;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.suggestions__container i {
  transform: rotate(90deg);
}
