/* dnav */

.dnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 42px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.dnav__pets {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
  padding: 0.4rem;
}

.dnav__pets div {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  cursor: pointer;
}

.dnav__pets div::after {
  content: "|";
  position: absolute;
  right: -30px;
  top: -5px;
  color: #9194993d;
  font-size: 2.5rem;
  font-weight: 100;
}

.dnav__pets div:hover::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0%;
  height: 3px;
  background: var(--primary);
  animation: enter forwards 0.3s;
}

.dnav__pets div:last-child:after {
  content: "";
}

.dnav__pets div p {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 200;
  position: relative;
}

.dnav__pets p::before {
  content: "";
  position: absolute;
  right: -16px;
  top: 9px;
  width: 5px;
  height: 5px;
  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg) translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s;
}

.dnav__pets div:hover p::before {
  transform: rotate(45deg) translateY(-50%) translateX(-20%);
}

.dnav__drop {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  width: auto;
  padding: 1rem;
  background-color: #fff;
  transition: display 0.3s;
  border: 1px solid #c7a8e7;
  border-radius: 6px;
  z-index: 20;
}

/* .dnav__drop::after {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #160a22;
} */

.dnav__drop:hover {
  display: block;
}

.dnav__pets div:hover .dnav__drop {
  display: block;
  transition: display 0.3s;
  width: 160%;
}

.dnav__drop li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s;
}

.dnav__drop li:hover {
  background-color: #e4e4e4;
}

.dnav__drop img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
}

.dnav__drop li::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 5px;
  height: 5px;
  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg) translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s;
}

/* member */

.dnav__member {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.dnav__member--brand {
  flex-wrap: nowrap;
  color: var(--primary);
  font-weight: 800;
}

.dnav__member--brand span {
  background: linear-gradient(
    90deg,
    rgba(255, 188, 1, 1) 0%,
    rgba(179, 133, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-weight: 800;
}

.dnav__member--adquire {
  background: linear-gradient(
    180deg,
    rgb(255, 203, 61) 0%,
    rgb(235, 172, 0) 100%
  );
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #3c1c5e;
  transition: background 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.dnav__member--adquire:hover {
  background: linear-gradient(
    180deg,
    rgb(252, 193, 32) 0%,
    rgb(202, 148, 0) 100%
  );
  color: #160a22;
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255, 255, 255, 0.5),
    inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
}

.dnav__member--adquire:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 70px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
