.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  height: 32px;
  padding: 0.4rem 3rem;
  background: #000;
  color: #fff;
}

.header__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.header__options div {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.header__options div:hover {
  transform: translateY(-2px);
}

.header__options div::after {
  content: "|";
}

.header__options div:last-child:after {
  content: "";
  margin-left: 0;
}

.header__about {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.header__contact {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

.header__contact i {
  transition: all 0.2s;
}

.header__contact:hover i {
  transform: translateY(-2px);
}

.header__social {
  display: flex;
  gap: 0.8rem;
}

.header__social i {
  cursor: pointer;
  transition: transform 0.2s;
}

.header__social i:hover {
  transform: translateY(-2px);
}
