<div class="header__info">
  <div class="header__options">
    <div>
      <i class="fa fa-shield" aria-hidden="true"></i>
      <p>compras seguras online</p>
    </div>
    <div>
      <i class="fa fa-handshake-o" aria-hidden="true"></i>
      <p>Pago Contra Entrega</p>
    </div>
    <div>
      <i class="fa fa-truck" aria-hidden="true"></i>
      <p>Entregas el mismo día</p>
    </div>
  </div>
  <div class="header__about">
    <div class="header__contact">
      <p>Llamanos</p>
      <i class="fa fa-phone-square" aria-hidden="true"></i>
      <p>|</p>
      <p>3009108496</p>
    </div>
    <div class="header__social">
      <p>Escribenos</p>
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="nav-sticky">
  <div class="nav">
    <div class="nav__sub-container--first">
      <div class="nav__icon">
        <img src="/assets/icons/LaikaMascotas.svg" alt="Laika-Icon" />
        <span>LAIKA</span>
      </div>
      <div class="nav__search">
        <input
          #search
          type="search"
          placeholder="Encuentra lo mejor para tu mascota."
        />
        <img src="/assets/icons/search_icon_mc.svg" alt="search" />
      </div>
    </div>
    <div class="nav__sub-container">
      <div class="nav__flag">
        <img src="/assets/icons/co.svg" alt="Flag" />
        <p>BOG</p>
      </div>
      <div class="nav__sub-container--third">
        <div class="nav__user">
          <div class="nav__user-icon">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </div>
          <p>Mi cuenta</p>
        </div>
        <div class="nav__cart">
          <span>0</span>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="dnav">
    <div class="dnav__pets">
      <div>
        <img src="/assets/icons/dog_mc.svg" alt="dog" />
        <p>Compra para perro</p>
        <span class="dnav__drop"
          ><ul>
            <li *ngFor="let category of categories">
              <img
                [src]="'/assets/imgs/categories/' + category.icon + '.png'"
                [alt]="category.name"
              />
              {{ category.name }}
            </li>
          </ul></span
        >
      </div>
      <div>
        <img src="/assets/icons/cat_mc_s.svg" alt="cat" />
        <p>Compra para gato</p>
        <span class="dnav__drop"
          ><ul>
            <li *ngFor="let category of categories">
              <img
                [src]="'/assets/imgs/categories/' + category.icon + '.png'"
                [alt]="category.name"
              />
              {{ category.name }}
            </li>
          </ul></span
        >
      </div>
      <div>
        <p>Ofertas</p>
      </div>
      <div>
        <p>Servicios</p>
      </div>
      <div>
        <p>Blog</p>
      </div>
    </div>
    <div class="dnav__member">
      <p class="dnav__member--brand">LAIKA <span>Member</span></p>
      <p class="dnav__member--adquire">ADQUIÉRALA YA</p>
    </div>
  </div>
</div>
