/**** Navbar Styles *****/

.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
  width: 100%;
  padding: 0.5rem 3rem;
  background-color: var(--primary);
}

.nav__sub-container {
  display: flex;
  justify-content: space-between;
}

.nav__sub-container--first {
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav__sub-container--third {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
  margin-right: 1rem;
}

.nav__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__icon img {
  width: 40px;
  transition: transform 0.3s;
}

.nav__icon span {
  font-family: Causten;
  font-weight: 200;
  font-size: 0.8rem;
  color: #fff;
  transition: transform 0.3s;
}

.nav__icon:hover img {
  transform: rotate(-10deg) scale(1.2);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.418));
}

.nav__icon:hover span {
  transform: translateY(8px);
}

.nav__search {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav__search input {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 1rem 0 3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-family: Causten;
  font-weight: 400;
  font-size: 1.2rem;
  color: #919499;
}

.nav__search img {
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  cursor: pointer;
}

.nav__search input::placeholder {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  color: #bec2c7;
}

.nav__flag {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.nav__flag img {
  width: 33px;
  height: 23px;
  border-radius: 4px;
  cursor: pointer;
}

.nav__flag p {
  display: flex;
  align-items: center;
  text-align: center;
  width: 33px;
  height: 23px;
  margin: 0;
  margin-left: 1rem;
  border-radius: 4px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.nav__flag p:hover::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: enter forwards 0.3s;
}

.nav__flag p::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 8px;
  width: 5px;
  height: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translateY(-50%);
  cursor: pointer;
}

.nav__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.nav__user-icon {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  background: #9194993b;
  border: 3px solid transparent;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.nav__user-icon i {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 200;
  transition: top 0.3s;
}

.nav__user:hover .nav__user-icon {
  background: #9194998a;
}

.nav__user:hover i {
  top: 65%;
}

.nav__user p {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.nav__user:hover p::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: enter forwards 0.3s;
}

.nav__cart {
  position: relative;
  cursor: pointer;
}

.nav__cart span {
  position: absolute;
  display: grid;
  place-items: center;
  top: -6px;
  right: -9px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #ff5e00;
  color: #fff;
  font-size: 1rem;
}

.nav__cart i {
  font-size: 2rem;
  color: #fff;
  transition: transform 0.3s;
}

.nav__cart i:hover {
  transform: rotate(8deg);
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  50% {
    left: 120px;
    top: 0px;
  }
  100% {
    left: 290px;
    top: 0;
  }
}

@keyframes enter {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 25px);
  }
}
