.carousel__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.carousel__paginator {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel__paginator span {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: #c3a7e0;
}

.carousel__paginator span.selected {
  background-color: #3c1c5e;
}

.carousel__paginator span:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-dark-blue);
}

/* @media ( max-width: 1124px) {
  .carousel__container {
    height: 580px;
  }
} */

@media (max-width: 550px) {
  .carousel__container {
    margin: 0.2rem;
  }
}
