<div class="carousel__container">
  <img
    [src]="'/assets/imgs/' + listImgs[selectedImg] + '.jpg'"
    alt="Imagen full"
  />
</div>
<div class="carousel__paginator">
  <span
    *ngFor="let img of listImgs; let i = index"
    [ngClass]="{ selected: img == listImgs[selectedImg] }"
    (click)="selectImg(i)"
  ></span>
</div>
