/* bottom */

.bottom__container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem;
}

.bottom__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom__logo img {
  width: 140px;
  transition: transform 0.3s;
}

.bottom__links {
  display: flex;
  justify-content: space-around;
  color: var(--primary);
}

.bottom__links li {
  list-style: none;
  margin-bottom: 1.2rem;
}

.bottom__links h3 {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bottom__links span {
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  font-weight: 200;
}

.bottom__links a {
  text-transform: capitalize;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.bottom__links input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
  border: 1px solid #603e85 !important;
  /* border-right: 0px solid #fff !important; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bottom__links .for-input {
  position: relative;
}

.bottom__links .for-input i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 6px;
  transition: background-color 0.3s, right 0.3s;
  cursor: pointer;
}

.bottom__links .for-input:hover i {
  background-color: var(--secondary);
  right: 5px;
}

.bottom__links a:hover {
  filter: drop-shadow(0 1px 1px rgb(155, 155, 155));
}
