/* card */

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  justify-content: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
}

.card {
  border: 1px solid #cacaca70;
  box-shadow: 0px 0px 3px 2px #cacaca3b;
  position: relative;
  transition: box-shadow 0.2s, transform 0.2s;
}

.card:hover {
  box-shadow: 0px 0px 5px 3px #cacacaa2;
  transform: translateY(-8px);
}

.card__pad {
  padding: 1rem;
}

.card__discount {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__discount p {
  position: absolute;
  top: 12px;
  right: -3px;
  /* transform: translate(-50%, -50%); */
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  z-index: 10;
}

.card__discount i {
  position: absolute;
  font-size: 5rem;
  top: -15px;
  right: -10px;
  color: rgb(255, 187, 0);
  z-index: 5;
}

.card__img {
  width: 100%;
  height: 260px;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.card__starts {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card__starts i {
  font-size: 0.8rem;
  color: rgb(255, 187, 0);
}

.card__prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
}

.card__price1,
.card__price2 {
  font-weight: 600;
}

.card__before1 {
  display: grid;
  grid-template-columns: 1fr;
  align-self: flex-end;
  font-size: 0.7rem;
  color: #a5a5a5;
}

.card__before1 span {
  font-size: 1.1rem;
  text-decoration: line-through;
}

.card__price2 {
  color: rgb(158, 0, 0);
}

.card__member--brand {
  display: flex;
  color: var(--primary);
  font-weight: 800;
}

.card__member--brand span {
  background: linear-gradient(
    90deg,
    rgba(255, 188, 1, 1) 0%,
    rgba(179, 133, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-left: 0.5rem;
  font-weight: 800;
}

.card__sizes {
  padding: 0.6rem 0.5rem;
  background-color: var(--primary);
  border-radius: 4px;
  color: #fff;
  width: min-content;
  display: grid;
  place-items: center;
  margin-top: 0.5rem;
}

.card__button {
  width: 100%;
  padding: 1rem auto;
  height: 40px;
  color: #fff;
  background-color: var(--primary);
  transition: background 0.2s;
  border: none;
  cursor: pointer;
}

.card__button:hover {
  background-color: var(--secondary);
}

.card__button i {
  margin-right: 1rem;
}
