main {
  padding: 8px 10%;
}

.main-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}

.main__container {
  padding: 0 2rem;
}

.main__categories {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.main__category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5em 2.5rem;
  border: 1px solid #d6c3eb70;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
}

.main__category:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.main__category img {
  width: 2.2rem;
  height: 2.2rem;
}

.main__category p {
  color: rgb(34, 34, 34);
  font-weight: 800;
  font-size: 1.4rem;
}

/* brand */

.main__brand-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 1.5rem 2rem;
  position: relative;
  overflow-x: auto;
}

.main__brand-container div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 12px rgb(187, 187, 187);
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}

.main__brand-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* object-fit: contain; */
}

.main__brand-container div:hover {
  box-shadow: 0px 10px 14px rgb(187, 187, 187);
  transform: translateY(-5px);
}

.slide-arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  top: calc(50% - 20px);
  background: #000;
  opacity: 0.7;
  z-index: 999;
  border-radius: 20px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.slide-arrow:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
