<app-contact-us></app-contact-us>
<app-suggestions></app-suggestions>
<app-navbar></app-navbar>
<main>
  <app-carousel></app-carousel>
  <div class="main__container">
    <h2 class="main-title">Categoría</h2>
    <div class="main__categories">
      <div *ngFor="let category of categories" class="main__category">
        <img
          [src]="'/assets/imgs/categories/' + category.icon + '.png'"
          [alt]="category.name"
        />
        <p>{{ category.name }}</p>
      </div>
    </div>
  </div>
  <div class="main__container">
    <h2 class="main-title">Marcas destacadas</h2>
    <div #brandContainer (scroll)="scrollCheck()" class="main__brand-container">
      <span
        class="slide-arrow"
        style="color: #fff"
        *ngIf="rightOff != -maxScrollLeft"
        [ngStyle]="{ right: rightOff + 20 + 'px' }"
        (click)="scrollRight()"
      >
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span
        class="slide-arrow"
        style="color: #fff"
        *ngIf="leftOff > 0"
        [ngStyle]="{ left: leftOff + 20 + 'px' }"
        (click)="scrollLeft()"
      >
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </span>
      <div *ngFor="let brand of brands">
        <img [src]="'/assets/imgs/brands/' + brand" [alt]="brand" />
      </div>
    </div>
  </div>
  <div class="main__container">
    <h2 class="main-title">
      Un universo lleno de ofertas
      <span
        style="cursor: pointer"
        (click)="createNewPokemons()"
        title="Dame click para sacar mas pokemons"
        >(?)</span
      >
    </h2>
    <div class="card__container">
      <div *ngFor="let pokemon of randomPokemons" class="card">
        <div class="card__pad">
          <span class="card__discount"
            ><i class="fa fa-certificate" aria-hidden="true"></i>
            <p>{{ pokemon.id }}%</p>
          </span>
          <img
            class="card__img"
            [src]="pokemon.sprites.front_default"
            alt="asd"
          />
          <h3 class="card__title">{{ pokemon.name }}</h3>
          <span class="card__starts"
            ><i
              *ngFor="let item of pokemon.abilities"
              class="fa fa-star"
              aria-hidden="true"
            ></i
          ></span>
          <div class="card__prices">
            <p class="card__price1">{{ pokemon.order * 10 | currency }}</p>
            <div class="card__before1">
              Antes<span>{{ pokemon.weight * 10 | currency }}</span>
            </div>
            <p class="card__price2">
              {{ pokemon.base_experience | currency }}
            </p>
            <p class="card__member--brand">LAIKA <span>Member</span></p>
          </div>
          <div class="card__sizes">{{ pokemon.weight }}gr</div>
        </div>
        <button class="card__button">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>Añadir al
          carrito
        </button>
      </div>
    </div>
  </div>
  <div class="main__container">
    <div class="bottom__container">
      <div class="bottom__logo">
        <img src="/assets/icons/LAIKA.webp" alt="Laika-Icon" />
      </div>
      <div class="bottom__links">
        <ul>
          <h3>Acerca de Laika</h3>
          <li><a href=""> Sobre Laika</a></li>
          <li><a href=""> Servicios</a></li>
          <li><a href=""> Trabaja con nosotros</a></li>
          <li><a href=""> Blog</a></li>
          <li><a href=""> Términos y condiciones</a></li>
        </ul>
        <ul>
          <h3>Links de interés</h3>
          <li><a href="">Preguntas frecuentes</a></li>
          <li><a href="">¿Cómo comprar en Laika?</a></li>
          <li><a href="">Política de Privacidad</a></li>
          <li><a href="">Contáctanos</a></li>
          <li><a href="">Políticas de Entrega</a></li>
        </ul>
        <ul>
          <h3>información</h3>
          <li><a href="">Teléfono: +573009108496</a></li>
          <li><a href="">servicioclientes@laika.com.co</a></li>
          <li><a href="">Bogotá D.C., Colombia</a></li>
        </ul>
        <ul>
          <h3>subscribete</h3>
          <li><span>Recibe noticias y promociones al instante.</span></li>
          <div class="for-input">
            <input type="email" placeholder="Correo electronico" />
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </ul>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
