/* You can add global styles to this file, and also import other style files */

@import url("./app/styles/colors.css");
@import url("./app/styles/fonts.css");
@import url("./app/styles/scroll.css");

/* utils */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Causten;
  font-weight: 400;
}
