footer {
  width: 100%;
  background: #f0f1f3;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer img {
  height: 40px;
  cursor: pointer;
}
