<footer>
  <img src="/assets/imgs/stores/APP.webp" alt="App store" />
  <img src="/assets/imgs/stores/GOOGLEP.webp" alt="Google store" />
  <img src="/assets/imgs/stores/huaweiGallery.webp" alt="Huawei store" />
</footer>
